<app-header [titulo]="nombre || 'Input Forms'"></app-header>

<ion-content>
  <ion-list>
    <ion-list-header>
      <ion-label>Input Normal</ion-label>
    </ion-list-header>

    <ion-item>
      <ion-label>Nombre:</ion-label>
      <ion-input type="text" placeholder="Awesome Input" [(ngModel)]="nombre"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Floating Label</ion-label>
      <ion-input></ion-input>
    </ion-item>
  </ion-list>

  <form #formluario="ngForm" action="">
    <ion-list-header>
      <ion-label>Formulario Valido: { formulario.valid }</ion-label>
    </ion-list-header>

    <ion-item>
      <ion-label>Email:</ion-label>
      <ion-input type="email" placeholder="Email"></ion-input>
    </ion-item>
  </form>

</ion-content>
